<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamx.respets.dao.BusinessDao">
	
	<resultMap type="HashMap" id="noticeDetail">
		<result property="BBO_NO" column="BBO_NO" />
		<result property="BCT_NAME" column="BCT_NAME" />
		<result property="BBC_NAME" column="BBC_NAME" />
		<result property="BBO_TITLE" column="BBO_TITLE" />
		<result property="BBO_CTT" column="BBO_CTT" jdbcType="CLOB"
			javaType="java.lang.String" />
		<result property="BBO_DATE" column="BBO_DATE" />
	</resultMap>

	<resultMap type="HashMap" id="noticeDetailUpdate">
		<result property="BBO_NO" column="BBO_NO" />
		<result property="BCT_CODE" column="BCT_CODE" />
		<result property="BBC_NO" column="BBC_NO" />
		<result property="BBO_TITLE" column="BBO_TITLE" />
		<result property="BBP_DATE" column="BBO_DATE" />
		<result property="BBO_CTT" column="BBO_CTT" jdbcType="CLOB"
			javaType="java.lang.String" />
		<result property="BUS_NO" column="BUS_NO" />
	</resultMap>


	<!-- 기업 공지사항 페이징 -->
	<select id="businessNotice" parameterType="HashMap"
		resultType="HashMap">
		<![CDATA[SELECT X.RNUM, X.BBO_NO, X.BCT_NAME, X.BBC_NAME, X.BBO_TITLE, X.BBO_DATE
		FROM (
			SELECT ROWNUM AS RNUM, BBV.BBO_NO, BBV.BCT_NAME, BBV.BBC_NAME, BBV.BBO_TITLE, BBV.BBO_DATE
			FROM(
				SELECT BBO_NO, BCT_NAME, BBC_NAME, BBO_TITLE, TO_CHAR(BBO_DATE, 'yyyy-mm-dd hh24:mi')AS BBO_DATE
				FROM BUS_NOTICE_VIEW
				WHERE BUS_NO=#{no}
				ORDER BY BBO_DATE DESC)BBV
			WHERE ROWNUM <= ${pageNum} * 10)X
		WHERE X.RNUM >= ${pageNum} * 10-9	
			]]>
	</select>

	<!-- 기업 공지사항 갯수 확인 -->
	<select id="getBusinessNoticeCount" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM BUS_NOTICE_VIEW WHERE BUS_NO=#{no}
	</select>

	<select id="recentMyBookingListCount" parameterType="String"
		resultType="int">
		SELECT COUNT(*) FROM RECENTMYBOOKINGLIST_VIEW WHERE
		PER_NO=#{no}
	</select>

	<!-- 기업공지사항 디테일 -->
	<select id="noticeDetailPage" parameterType="HashMap"
		resultMap="noticeDetail">
		SELECT BBO.BUS_NO, BBO.BBO_NO, BCT.BCT_NAME, BBC.BBC_NAME,
		BBO.BBO_TITLE, BBO.BBO_CTT,
		TO_CHAR(BBO.BBO_DATE, 'yyyy-mm-dd hh24:mi')
		AS BBO_DATE
		FROM BBO INNER JOIN BCT
		ON BCT.BCT_CODE = BBO.BCT_CODE
		INNER JOIN BBC
		ON
		BBC.BBC_NO = BBO.BBC_NO
		WHERE BBO.BBO_NO=#{bbo_no}
	</select>

	<!-- 기업공지사항 검색 카운트 -->
	<select id="getSearchBusinessAllNoticeCount"
		parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS MAXNUM FROM
		BUS_NOTICE_VIEW WHERE BUS_NO=#{no} AND BBO_TITLE LIKE
		'%'||#{search}||'%'
	</select>

	<!-- 기업 공지사항 검색 페이징 -->
	<select id="searchBusinessAllNotice" parameterType="HashMap"
		resultType="HashMap">
		<![CDATA[SELECT X.RNUM, X.BBO_NO, X.BCT_NAME, X.BBC_NAME, X.BBO_TITLE, X.BBO_DATE
		FROM (
			SELECT ROWNUM AS RNUM, BBV.BBO_NO, BBV.BCT_NAME, BBV.BBC_NAME, BBV.BBO_TITLE, BBV.BBO_DATE
			FROM(
				SELECT BBO_NO, BCT_NAME, BBC_NAME, BBO_TITLE, BBO_DATE
				FROM BUS_NOTICE_VIEW
				WHERE BUS_NO=#{no} AND BBO_TITLE LIKE '%'||#{search}||'%'
				ORDER BY BBO_DATE DESC)BBV
			WHERE ROWNUM <= ${pageNum} * 10)X
		WHERE X.RNUM >= ${pageNum} * 10-9
		]]>
	</select>

	<!-- 기업공지사항 검색 카운트 -->
	<select id="getSearchBusinessNoticeCount"
		parameterType="HashMap" resultType="int">
		SELECT COUNT(*) AS MAXNUM FROM
		BUS_NOTICE_VIEW WHERE BUS_NO=#{no} AND BBC_NAME=#{select} AND
		BBO_TITLE LIKE '%'||#{search}||'%'
	</select>

	<!-- 기업 공지사항 검색 페이징 -->
	<select id="searchBusinessNotice" parameterType="HashMap"
		resultType="HashMap">
		<![CDATA[SELECT X.RNUM, X.BBO_NO, X.BCT_NAME, X.BBC_NAME, X.BBO_TITLE, X.BBO_DATE
		FROM (
			SELECT ROWNUM AS RNUM, BBV.BBO_NO, BBV.BCT_NAME, BBV.BBC_NAME, BBV.BBO_TITLE, BBV.BBO_DATE
			FROM(
				SELECT BBO_NO, BCT_NAME, BBC_NAME, BBO_TITLE, TO_CHAR(BBO_DATE, 'yyyy-mm-dd hh24:mi')AS BBO_DATE
				FROM BUS_NOTICE_VIEW
				WHERE BUS_NO=#{no} AND BBC_NAME=#{select} AND BBO_TITLE LIKE '%'||#{search}||'%'
				ORDER BY BBO_DATE DESC)BBV
			WHERE ROWNUM <= ${pageNum} * 10)X
		WHERE X.RNUM >= ${pageNum} * 10-9
		]]>
	</select>

	<!-- 기업공지사항등록 -->
	<insert id="businessNoticeInsert" parameterType="HashMap">
		INSERT INTO BBO VALUES(BBO_SEQ.NEXTVAL, #{no}, #{bct_code}, #{bbc_no},
		#{bbo_title}, #{bbo_ctt}, SYSDATE)
	</insert>

	<!-- 기업 공지사항 수정폼 정보 가져오기 -->
	<select id="businessNoticeUpdateForm" parameterType="String"
		resultMap="noticeDetailUpdate">
		SELECT * FROM BBO WHERE BBO_NO=#{no}
	</select>

	<!-- 기업공지사항수정 -->
	<update id="businessNoticeUpdate" parameterType="HashMap">
		UPDATE BBO SET BCT_CODE=#{bct_code}, BBC_NO=#{bbc_no},
		BBO_TITLE=#{bbo_title}, BBO_CTT=#{bbo_ctt} WHERE BBO_NO=#{bbo_no}
	</update>

	<!-- 기업공지사항 삭제 -->
	<delete id="businessNoticeDelete" parameterType="Integer">
		DELETE FROM BBO WHERE BBO_NO=#{bbo_no}
	</delete>
	
</mapper>